<div class="container">
<h1>Listado de clientes</h1>
<%= link_to "Crear Cliente", clientes_new_path, :class => 'btn-succes'%>
<table class=" table-striped table table-responsive">
  <tr>
    <thead  class="thead-dark">
   		<th>CUIT</th>
   		<th>Rubro</th>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Domicilio</th>
      <th>Barrio</th>
      <th>Celular</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Observaciones</th>
      <th>Tipo Cliente</th>
      <th>Calificacion</th>

    </thead>
  </tr>
  <% @clientes.each do |cliente| %>
  	<%if cliente.baja == true %>
	  	<tr>
	    	<td><%= cliente.cuit %></td>
	      <td><%= cliente.rubro%></td>
	      <td><%= cliente.apellido %></td>
	      <td><%= cliente.nombre %></td>
	      <td><%= cliente.domicilio %></td>
	      <td><%= cliente.barrio %></td>
	      <td><%= cliente.celular %></td>
	      <td><%= cliente.telefono %></td>
	      <td><%= cliente.correo %></td>
	      <td><%= cliente.observaciones_cliente %></td>
	      <td><%= cliente.tipo_cliente %></td>
	      <td><%= cliente.calificacion %></td>
	      <td>
	        	<%= link_to 'Editar', edit_cliente_path(cliente) %>
	        	<%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: "¿Estás seguro/a?" }  %>
	      </td>
	  	</tr>
	  <% end %>
  <% end %>
</table>
</div>
