<div class="container">
<h1>Listado de reclamos</h1>
<%= link_to "Agregar reclamo", quejas_new_path, :class => 'btn btn-warning my-3'%>
<table class=" table-striped table table-responsive">
  <tr>
    <thead class="thead-dark">
   		<th>Cliente</th>
   		<th>Tecnico</th>
   		<th>NroQueja</th>
      	<th>NroCertificado</th>
        <th>FechaQueja</th>
      	<th>Observaciones</th>
      	<th>Estado</th>
        <th colspan="5"></th>
    </thead>
  </tr>
  <% @quejas.each do |queja| %>
  	<%if queja.baja == true %>
	  	<tr>
        <td><%= link_to "#{queja.orden_fumigacion.cliente.apellido}", queja_path(queja)%></td>
        <td><%= link_to "#{queja.orden_fumigacion.tecnico.apellido}", queja_path(queja)%></td>
	        <td><%= queja.nro_queja %></td>
	        <td><%= queja.fecha_queja %></td>
	        <td><%= queja.observaciones_queja %></td>
	        <td><%= queja.estado %></td>
          <td></td>
	        <td>
	        	<%= link_to '', queja, method: :delete, data: { confirm: "¿Estás seguro/a?" }, :class => 'fas fa-trash'    %>
	        </td>
	  	</tr>
	<% end %>
  <% end %>
</table>
