<div class="container">
    <div class="card-header d-flex justify-content-between">
      <div><h2 class="my-0 font-size:8vw">Detalle del reclamo</h2></div>
      <div> <%= link_to 'Modificar reclamo', edit_queja_path(@queja), class: "btn btn-primary mr-3" %></div>
    </div>
  <div class="card-body">
    <ul class="list-unstyled mt-3 mb-4 text-center">


      <h3>
        <strong>N°:</strong>
        <%= @queja.orden_fumigacion_id %>
      </h3>
      <h3>
        <strong>nro reclamo:</strong>
        <%= @queja.nro_queja %>
      </h3>

      <h3>
        <strong>Queja:</strong>
        <%= @queja.fecha_queja %>
      </h3>


      <h3>
        <strong>Observaciones :</strong>
        <%= @queja.observaciones_queja %>
      </h3>

      <h3>
        <strong>EStado:</strong>
        <%= @queja.estado %>
      </h3>


    </ul>

    <a  class="btn btn-lg btn-block btn-dark" href="/quejas">Atrás</a>
  </div>
</div>





